header {
  text-align: center;
  background: #F1ECE6;

  .logo-layout {
    width: 100%;
    height: 100px;

    .logo {
      text-align: center;
      margin-top: 20px;
      width: 230px;
      height: 60px;
    }
  }
}

.task-type {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 73px;

  .task-type__personal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 73px;
    float: left;
    background: #F3F3F3;
    text-align: center;
  }

  .task-type__professional {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 73px;
    float: right;
    background: #F3F3F3;
    text-align: center;
  }
}

.approach {
  width: 153px;
  height: 48px;
  display: inline-block;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
}

.add-to-do {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 78px;
  margin-top: 60px;

  .add-to-do__input {
    display: flex;
    justify-content: space-between;
    width: 1040px;
    height: 78px;
    text-align: center;
    border-radius: 50px;
    background: #F1ECE6;

    .reminder-question {
      width: 402px;
      height: 48px;
      margin-top: 15px;
      margin-left: 35px;
      font-size: 32px;
      font-weight: 400;
      color: #969696;
      text-align: center;
    }

    .reminder-button {
      width: 140px;
      height: 78px;
      margin: 0;
      background: #76B7CD;
      font-size: 38px;
      font-weight: 600;
      color: #F3F3F3;
      text-align: center;
      line-height: 78px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
}


.task-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 40px auto;
  width: 90%;
  max-height: 589px;
  overflow-y: auto;
  background: #eadcca;
  border-radius: 50px;  
  padding: 0 25px; 
  &::-webkit-scrollbar {
    width: 0; /* Для Chrome, Safari, Opera */
    background-color: transparent;
  }
  }

  .task-status {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    text-align: center;
    // margin: 0 auto;
    width: 945px;
    height: 88px;
}

.task-status::after {
  content: '';
  display: block;
  width: 100%;
  height: 120px;
  color: black;
  background-image: url("../img/Line9.png");
  background-repeat: no-repeat;
  background-position: center;
}

.check-circle-outline {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  top: 12px;
  }

.delete-outline {
  width: 25px;
  flex-shrink: 0;
  margin-left: auto;
}

.task-frame {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 304px;
  height: 100%;
  border-bottom: 2px solid blue;
  margin: 0;  
  font-size: 32px;
  font-weight: 400;
}



.checked {
  color: grey;
  text-decoration: line-through;
}


.todo-item {
  position: relative;
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center;  
  // margin: o auto;
  // margin-left: 50px;
  width: 100%;
  margin-top: 10px;
  height: 88px;
}

.label {
  flex-shrink: 0;
  width: 64px;

}

.checkbox {
  display: none;
}

.fake {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid rgb(211, 126, 16);
  position: relative;
  border-radius: 50%;
  text-align: center;
  top: 4px;
  left: 10px;
}

.fake::before {
  content: "✓";
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-weight: 800;
  font-size: 24px;
  color: rgb(211, 126, 16);
  opacity: 0;
  transition: .3ms;
  border-radius: 50%;
}

.checkbox:checked + .fake::before {
  opacity: 1;
}



// .task-todo {
//   position: relative;
//   padding-left: 20px;

//   &::before {
//     content: "";
//     display: block;
//     position: absolute;
//     background-image: url(../img/Radio_button_unchecked.png);
//     // width: 40px;
//     // height: 40px;
//     // border: 1px solid black;
//     // border-radius: 50%;
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     display: block;
//     width: 10px;
//     height: 10px;
//     background-image: url(../img/Check_circle_outline.png);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: contain;
//     opacity: 0;
//     transition: .2s;
//     // border-radius: 50%;
//   } 
// }
  

